body{
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    height: 450px;
    width: 300px;
    border: 3px solid rgb(57, 161, 202);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 40%;
    background-color: rgba(111, 219, 174, 0.322);
    
}
#container h1{
    margin: 25px;
    color: rgb(21, 89, 116);
    font-weight: 700;
}
#container #myinput{
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    
}
#container .radios{
    font-size: 17px;
    font-weight: 600;

}
#container #mybutton{
    border-radius: 6px;
    
}