*{
    margin: 0;
    padding: 0;
}

/* header start */
#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background-color:#E3E6F3 ;
   box-shadow:0 5px 15px rgba(0, 0, 0 ,0.06) ;
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}
.logo{
    height: 50px;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
         
   
}
#navbar li a:hover,
#navbar li a.active{             /* :active class is psuedo class used when action depend on user*/
    color: #088178; 
    transition: 0.3s ease;     
    
   
}
#navbar li a.active::after,
#navbar li a:hover::after{        /* ::after is pseudo elemnt used to add content*/  
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


/* Home Page */
#hero{
    background-image: url(hero.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    
    
}
#hero h4{
    position: absolute;
    top: 250px;
    left: 146px;
}
#hero h2{
    font-size: 30px;
    position: absolute;
    left: 145px;
    top: 270px;
}
#hero h1{
    color: #088178;
    font-size: 70px;
    position: absolute;
    left: 135px;
    top: 290px;
}
#hero p{
    position: absolute;
    left: 145px;
    top: 400px;

}
#hero button{
    background-image: url(button.png);
    background-color: transparent;
    color:#088178;
    border: 0;
    padding: 14px 80px 14px 65px ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top:430px ;
    left:115px;

}

/*features*/
#feature{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 18px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1)
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/*products*/
#product1{
   text-align: center;
   padding: 100px;
   
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 15px;
    
}
#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7de;
     border-radius: 15px;
     cursor: pointer;
     box-shadow: 20px 20px 30px rgba(0, 0, 0 ,0.02);
     margin: 15px 0;
     position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0 ,0.2);
    transition: 0.2s ease;

}

#product1 .pro img{
    width: 100%;
    border-radius:20px ;
}
#product1 .pro i{
    color: black;
}
#product1 h2{
    font-size:60px;
    padding-bottom:5px;
}
#product1 p{
    font-size: 17px;
    padding-top: 5px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;

}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .carts{
    background-color:#cdebbc86;
    color: #088178;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    position: absolute;
    bottom: 10px;
    right: 10px;
    
  }

/* banner */
#banner{
    height: 300px;
    width: 100%;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b2.jpg?raw=true);
    text-align: center;
    position: relative;
    
}
#banner h4{
    position: absolute;
    top: 30%;
    left: 45%;
    color: white;

}
#banner h2{
    position: absolute;
    top: 42%;
    left: 26%;
    color: white;
    font-size: 35px;

}
#banner button{
    position: absolute;
    top: 67%;
    left: 44.3%;
    font-size:12px;
    font-weight:700;
    padding: 13px 28px;
    border-radius: 6px;
    background-color:white;
    cursor: pointer;
    outline: none;

}
#banner button:hover{
    background-color:#088178;
    color: white;
}
#banner h2 span{
    font-size: 40px;
    color: red;
}

/* sm-banner */
#sm-banner{
    display: flex;
    margin-top: -40px;
    margin-left: 100px;
    gap: 40px;
    
}
#sm-banner .banner-box{
    height: 260px;
    width: 45%;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b17.jpg?raw=true); 
    background-size: cover;
    position: relative;
    color: white;
    
}


#sm-banner .banner-box h4{
    position: absolute;
    top: 32%;
    left: 30px;
    font-weight:lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    
}
#sm-banner .banner-box h2{
    position: absolute;
    top: 38%;
    left: 30px;
    font-size:38px;
 
}
#sm-banner .banner-box span{
    position: absolute;
    top: 55%;
    left: 30px;
    font-weight:lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#sm-banner .banner-box button{
    padding: 10px 20px;
    position: absolute;
    top:67%;
    left:33px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}
#sm-banner .banner-box button:hover{
    background-color: #088178;
    border: 1px solid #088178;
}
#sm-banner #twoo {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b10.jpg?raw=true);
    
}
/*banner3*/
#banner3{
    display: flex;
    position: relative;
}
#banner3 .banner-box{
    height: 180px;
    width: 425px;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b17.jpg?raw=true); 
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 22px;
    margin-left: 20px;
    left: 80px;

}
#banner3 #banner3box1{
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b7.jpg?raw=true);
}
#banner3 #banner3box2{
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b4.jpg?raw=true);
}
#banner3 #banner3box3{
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b18.jpg?raw=true);
}
#banner3 .banner-box h2{
    position: absolute;
    top: 40%;
    left: 15px;
    
}
#banner3 .banner-box h3{
    position: absolute;
    top: 60%;
    left: 15px;
    color:#c3574d;
    
}

/*newsletter*/
#newsletter{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(https://t4.ftcdn.net/jpg/02/74/24/49/360_F_274244953_O3KPYrN7VhNVXCLNUhzOChdDKUJJ9zLN.jpg);
    background-repeat: no repeat;
    background-size: cover;
    color: white;
    position: relative;
    margin-top: 55px;
  
}
#newsletter .newstext h4{
    position: absolute;
    left:100px;
    top: 40%;
    font-size: 30px;
}
#newsletter .newstext p{
    position: absolute;
    left:100px;
    top: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.374);
    
}
#newsletter .newstext p span{
    color:#ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: #088178;
    color: white;
    width: 187px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 53px;

}
#newsletter .form{
    display: flex;
    width: 40%;
    position: absolute;
    left: 55%;
}

/*footer*/
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
#footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    

}
#footer .col .footlogo{
    height: 50px;
    

}
#footer #onecol{
    position: absolute;
    left: 100px;
    top: 60px;
}

#footer .col h4{
    position: absolute;
    top: 70px;
    left: 0px;
}
#footer .col .para{
    position: absolute;
    height: 60px;
    width:360px;
    top: 112px;
    left: 1px;
}
#footer .col .para p strong{
    color:black;
}
#footer .col .para p{
    color:rgba(0, 0, 0, 0.449);
    margin: 1px;
}
#footer .col .follow{
    position: relative;
}
#footer .col .follow h4{
    position: absolute;
    width: 70px;
    top:137px;
    left: 1px;
}
#footer .col .follow .icon{
    position: absolute;
    height: 20px;
    width: 140px;
    top:160px;
    left: -2px;
    cursor: pointer;
}
#footer .col .follow .icon i{
    margin: 2px;
}
#footer #twocol .twoa{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 117px;
    left: 36%;
    
}
#footer #twocol .twoa a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.449);
    margin: 2px;
}
#footer #twocol h4{
    position: absolute;
    top: 75px;
    left: 36%;
}

#footer #threecol h4{
    position: absolute;
    top: 70px;
    left: 53%;
}
#footer #threecol .threea{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 112px;
    left: 53%;
}
#footer #threecol .threea a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.449);
    margin: 2px;
}
#footer #fourcol h4{
    position: absolute;
    top: 70px;
    left: 70%;
}
#footer #fourcol p{
    position: absolute;
    top: 107px;
    left: 70%;
}
#footer #fourcol .row{
    position: absolute;
    top: 136px;
    display: flex;
    left: 1060px;
    width: 300px;
    
}
#footer #fourcol .row img{
    border: 1px solid #088178;
    height: 43px;
    width: 139px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}
#footer #fourcol .four_col_p2{
    position: absolute;
    top: 200px;
    left: 70%;
    color: rgba(0, 0, 0, 0.449);
}
#footer #fourcol .four_col_p1{
    color: rgba(0, 0, 0, 0.449);
}
#footer #fourcol .four_col_img3{
    position: absolute;
    top: 235px;
    left: 70%;
    cursor: pointer;
}
#footer .copyright p{
    position: absolute;
    color: rgba(0, 0, 0, 0.449);
    top: 305px;
    left: 630px;
    height: 70px;
}

/*shop page*/
#page-header{
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b1.jpg?raw=true);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    font-size: 25px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;

}
#prodetails{
    display: flex;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top:100px;
    margin-right: 300px;
}
#prodetails .single-pro-details select{
    margin-top: 10px;
    display: block;
    margin-bottom: 0px;
    padding: 5px 10px;
    
}
#prodetails .single-pro-details input{
    margin-top: 10px;
    height: 35px;
    width: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    
}
#prodetails .single-pro-details h4{
    padding: 30px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details button{
    padding: 10px 20px;
    background-color: #088178;
    border: 1px solid #088178;
    color: white;
    font-weight: 600;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
#product1 h2{
    margin-top: -80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*Single product*/
#prodetails .single-pro-image{
    width: 40%;
    margin: 70px;
   
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*media query*/

/*ipad pro*/
@media(max-width:1030px){
    #navbar {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0 ,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
       
    }
    
    #feature {
    
        justify-content:center;

    }

    #feature .fe-box {
       margin: 15px 23px;
    }

    #product1 .pro-container {
        margin: 20px 95px;
    }

    #banner {
        height: 250px;
        margin-top: -80px;
        margin-bottom: -40px;
       
    }
    #sm-banner {
       display: flex;
       flex-direction: column;
       margin-left: 140px;
       width: 160%;
    }
    #banner3 {
        display: flex;
        margin-left: -70px;
    
    }
    #banner3 .banner-box {
       width: 300px;
    }
    #footer .col {
        margin-left: -70px;
        margin-top: -50px;
    }
    #footer .col .para p{
        margin:4px;
    }
    #footer .col .para #prob{
        width:300px;

    }
    #footer .follow{
        margin-top: 25px;
        margin-left: 5px;
    }
    #footer .copyright p{
        margin-left: 70px;
    }
    #banner3 .banner-box h3 {
        margin-top: 7%;
    }
}

/*iphone 12 pro*/
@media (max-width:400px){
    #header {
        padding: 10px 30px;
    }
    #hero {
       padding: 0 20px;
       background-position: 65%;
    }
    #hero h2{
        margin-left: -110px;
    }
    #hero h4{
        margin-left: -110px;
    }
    #hero h1{
        margin-left: -105px;
        font-size: 50px;
    }
    #hero p{
        margin-left: -110px;
        margin-top: -40px;
        
    }
    #hero button{
        margin-left: -105px;
        margin-top: -40px;
        
    }
    #feature .fe-box {
        height: 130px;
        width: 120px;
        margin:4px;
    }
    #product1 h2 {
        margin-top: -50px;
        margin-left: -10px;
    }
    #product1 .pro {
        margin-left: -130px;
    }
    #banner h4 {
      margin-left: -140px;
    }
    #banner h2 {
      left: 9%;
      font-size: 15px;
      margin-top: -10px;
       
    }
    #banner h2 span {
        font-size: 30px;
        color: red;
    }
    #banner button {
       margin-left: -140px;
       margin-top: -30px;
    }
    #product1 h2 {
        font-size: 47px;
        margin-top: -30px;
    }
    #sm-banner .banner-box {
        margin-left: -110px;
        margin-top:-10px;
        width: 330px;
        height: 200px;
    }
    #sm-banner .banner-box button {
        padding: 5px 10px;
        margin-top: 2%;
    }
    #sm-banner .banner-box span {
        margin-top: 2%;
        font-size: 13px;
    }
    #sm-banner .banner-box h4 {
       font-size: 13px;
    }
    #banner3 {
        display: flex;
        flex-direction: column;
        left: 13px;
    
    }
    #newsletter .newstext h4 {
       font-size: 15px;
       margin-left: -80px;
       margin-top: -40px;
    }
    #newsletter .newstext p {
        margin-left: -80px;
        margin-top: -50px;
    }
    #newsletter .form {
        margin-top: 70px;
        width: 80%;
        height: 10px;
        left: 20px;
    }
    #footer #twocol h4 {
        top: 300px;
        left: 9%;
    }
    #footer #twocol .twoa {
        top: 330px;
        left: 8%;
    }
    #footer #threecol h4 {
        top: 300px;
        left: 64%;
    }
    #footer #threecol .threea {
        top: 330px;
        left: 64%;
    }
    #footer #fourcol h4 {
        top: 480px;
        left: 38%;
    }
    #footer #fourcol .four_col_p1 {
        top: 500px;
        left: 26%;
    }
    #footer #fourcol .four_col_p2 {
        top: 520px;
        left: 26%;
    }
    #footer #fourcol .four_col_img3 {
        top: 620px;
        left: 22%;
    }
    #footer #fourcol .row {
        top: 550px;
        left: 1%;
    }
}

