@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:nb;
}

html ,  body{
    height: 100%;
    width: 100%;
}
#page1{

    height: 100vh;
    width:100%;
    
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f3f;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);

}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;

}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    
}
#page1-content{
    height: 100%;
    width: 100%;
    position:relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: space-between;
  
}
nav{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
    display: flex;
     
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: rejoy;
    font-size: 27vw;
    font-weight: 100;
    line-height: 29vw;
}
#page1-content h1 span{
    font-family: rejoy;
    display: inline-block;
}

#page2 {
    height: 70vh;
    width: 100%;
    padding:6vw 3vw;
   
    
  }
  .elem{
 
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .elem h1 {
    font-size: 2vw;
    font-weight: 500;
    color: black;
   
  }
  
  .elem h2 {
    font-size: 2vw;
    font-weight: 500;
    color: black;
   
  }
  
  #page2 p {
    font-size: 4vw;
    width: 100%;
    color:black;
    font-weight: 550;
   
  }
  #page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
    padding-top: 13vw;

  }
  #page3-top{
    text-align: center;
   
  }
  #page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
  }
  #page3-top h4 span{
    font-size: 0.7vw;
    background-color:black;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
  }
  #page3-top h2{
    font-size: 4vw;
    font-weight: 500;
  }
  #page3-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vw;
    margin-bottom:-7vw;
  }
  #page3-elem h2{
    font-size: 1.7vw;
    font-weight: 500;
  }
  #page3-elem a{
    font-size: 1.7vw;
  }
  #page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
    
  }
  #page3-elements .box{
    height: 100%;
    width: 32.5%;
    background-color: blue;
    position: relative;
  }
  #page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
  }
  #page3-elements .box img{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
  }
  #page3-elements .box:hover img{
    opacity: 0;
  }
  #page4{
    height: 100vh;
    width: 100%;
    position: relative;
    padding:6vw 4vw;

  }
  #page4 .elem4{
    position: relative;
    height:10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
  }
  #page4 .elem4 h1{
    font-size: 1.7vw;
    font-weight: 500;
  }
  #page4 .elem4 h2{
    font-size: 1.7vw;
    font-weight: 500; 
  }
  #page4 p{
    position:relative;
    height: 90%;
    width: 100%;
    font-size:4vw;
    font-weight: 500;
  }
  #page5{
    height: 150vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    
  }
  #page5 video{
    height: 100%;
  }
  #cursorr{
    position:absolute;
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    transform:translate(-50%,-50%);
    transition: all ease 0.1s;
   
  }
   #page5 svg{
    position: absolute;
    height: 80vh;
   }
   #page5-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
   }
   #page5-content h2{
    font-size: 4vw;
    font-weight:550;
  
   }
   #page5-content h3{
    font-size: 1.6vw;
    font-weight:400;
  
   }
   #page6{
    height: 100vh;
    width:100%;
    padding: 4vw 0;
    position:relative;
   }
   #page6 h1{
    font-size: 9vw;
    font-family: rejoy;
    font-weight: 100;
    border-bottom: 1px solid #211f1fe1;
    width: 95%;
    margin-left: 3vw;
   }
   #swiperdiv{
    height: 60vh;
    width:100%;
    position: relative;
    margin-top: -2.6%;
   }
   
   .swiper {
    width: 130%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  #loader{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
  }
  #loader h3{
    font-size: 1.7vw;
    font-weight: 100;
  }
  #page7{
    height: 100vh;
    width: 100%;
    position: relative;
    padding:1vw 3vw;
  }
  #page7-top{
    height:10%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.758);
    padding-bottom: 5vw;
 
  }
  #page7-top h3{
   font-size: 1.7vw;
   font-weight: 500;
  }
  #page7 p{
    height:70%;
    width: 100%;
    font-size: 4vw;
    font-weight: 550;
  }
  #page7 p span{
    margin-left: 8vw;
  }
  #page8{
    height: 80vh;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #page8 h4{
    font-size: 1.2vw;
    font-weight: 100;
    padding-bottom: 10px;

  }
  #page8 h2{
    font-size: 4vw;
    font-weight: 500;
    text-decoration: underline;
    
  }
  #page9{
    height:100vh;
    width:100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.801);
    position: relative;

  }
  #page9-top{
    height: 25%;
    display: flex;
    justify-content: space-between;

  }
  #part2{
    display: flex;
    justify-content: space-between;
    margin-right: 7vw;
  }
  #part1{
    padding: 3vw;
  }
  #part1 h2{
    padding-bottom: 19px;
    font-size: 1.8vw;
    font-weight: 100;
    
  }
  #part1 h3{
    padding: 1vw;
    font-size:1.1vw ;
    padding-left: 1.5vw;
    font-weight: 100;
    display: inline-block;
    width:9vw;
    border-radius: 30%;
    border: 2px solid rgba(255, 255, 255, 0.801);
  }
  #page9-mid{
    height: 13vh;
    width: 100%;
    margin-top:10vh;
    padding-left: 5vh;
  }
  
  #page9-part2{
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
  }
  #page9-part2 #part2-2{
    display: flex;
    justify-content: space-between;
    
  }
  #page9-part2 #part2-2 h3{
    padding: 0  10vh;
  }
  #page9-bot h3{
    margin-left: 8vh;
    margin-top: 6vh;
  }
  #page9-bot h3 span{
    font-size: 45vh;
    font-family: rejoy;
    
    
  }
 

